*{
    padding: 0;
    margin: 0;
}
/* 我的优惠劵样式 */
body {
    font-size: .5rem;
}
.context {
    width: 100%;
    font-size: 100px;
    background: #f4f4f4;
    font-family:  Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.w_top {
    height:.37rem;
    line-height: .37rem;
    text-align: center;
    padding: 0 .15rem;
    background: #fff;
}
.w_top h2 {
    font-size: .128rem;
    color: #666;
    line-height: .37rem;
    font-weight: normal;
}
 .mui-icon{
    color: #333;
    float: left;
    font-size: 0.2rem!important;
    line-height: .37rem;
 }
.w_coupon-context {
    padding: .17rem .1rem .1rem;
    background: #fff;
    box-sizing: border-box;
}
.w_coupon-list {
    margin-top: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    font-size: .128rem;
    line-height: .37rem;
    text-align: center;
    border-bottom:1px solid #f4f4f4 ;
}
.w_coupon-list1,.w_coupon-list2,.w_coupon-list3{
    flex: 1;
}
.w_coupon-ul1 li,.w_coupon-ul2 li{
    width: 100%;
    background: #f4f4f4;
    text-align: center;
    overflow: hidden;
    padding: 0 .1rem 0 0;
    margin-bottom: .1rem;
}
.w_num1,.w_numed{
    width: 1rem;
    background: url(../images/w_list1.png) no-repeat;
    background-size: 100% 100%;
    height: 0.8rem;
    position: relative;
    float: left;
}
.w_bit-sp {
    font-size: .15rem;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 25%;
}
.w_bit-sp1 {
    position: absolute;
    top: 10%;
    left: 35%;
    font-size: 0.3rem;
    color: #fff;
}
.w_bit-p {
    color: #fff;
    font-size: .1rem;
    position: absolute;
    top: 60%;
    left: 20%;
}
.w_num2 {
    width: 1.31rem;
    float: left;
    margin-top: 8%;
    margin-left: 3%;
}
.w_bit1-p1 {
    font-size: .1rem;
    float: left;
    line-height: 0.2rem;
}
.w_bit1-p2 {
    font-size: .1rem;
    float: left;
    line-height: 0.2rem;
}
.w_bit1-a {
    font-size: 0.1rem;
    border: 1px solid  #fd2645;
    float: right;
    border-radius: 0.1rem;
    margin-top: 11%;
    color: #fd2645;
}
.w_numed {
    background: url(../images/w_list2.png) no-repeat;
    background-size: 100% 100%;
}
/* 编辑收货地址样式 */
.w_ul3-li {
    text-align: center;
}
.w_coupon-sp1,.w_coupon-sp2,.w_coupon-sp3  {
    padding: 0 .2rem;
    line-height: .37rem;
    height: .37rem;
    display: inline-block;
 }
 .addcolor {
    color: #fd2645;
    border-bottom: 2px solid #fd2645;
}
.displynone {
    display: none;
}
.w_ul3-li img {
    width: .5rem;
}
.w_address-butt,.w_address-butt1,.w_address-clear {
    padding: 0 .1rem;
    margin-top: .5rem;
 }
 .w_address-clear {
     margin-top: .1rem;
 }
.w_address-butt button,.w_address-butt1 button,.w_address-clear button {
    height: .37rem;
    font-size: .128rem;
    width: 100%;
    border-radius: .066667rem;
    background: #fd2645;
    color: #fff;
}
.w_address-clear button{
    background: #d3d3d3
}
.w_address-cont  {
    font-size: .128rem;
}
.w_address-ul {
    background: #fff;
    border-top: 1px solid #f4f4f4;
}
.w_address-li {
    padding: 0 .1rem;
    height: .8rem;
}
.w_add-list1 {
    width: 80%;
    float: left;
    height: 100%;
    padding: .2rem 0;
}
.w_add-list2 {
    width: 20%;
    float: right;
}
.w_addlist-span {
    line-height: .7rem;
    float: right;
}
.w_addlist-p {
    font-size: .1rem;
    color: #999;
    margin-top: .1rem;
}
.w_address-list {
    background-color: #fff;
    height: .37rem;
    border: 1px solid #f4f4f4;
    padding: 0 .1rem;
}
.w_address-sp1{
    line-height: .37rem;
    width: 30%;
    font-size: .12rem;
    float: left;
}
.mui-icon-clear{
    top: 0!important;;
    color: #DADADA!important;
    width: auto!important;
}
.w_address-sp2 {
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
    line-height: .37rem;
}
.w_address-sp2 input {
    border: 0;
    font-size: .1rem;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 100%;
}
.w_address-sp3 {
    float: right;
    font-size: .1rem;
    line-height: .37rem;
    color: #767879;
}
.w_address-rig {
    display: block;
    font-size: .128rem;
}
/* 修改收货地址样式*/
.mui-btn-block {
    font-size: inherit;
    margin-bottom: 0;
}
.mui-btn {
    text-align: inherit
}
.mui-toast-message {
    font-size: .128rem;
}
.mui-picker-inner {
    background-color: #fff;
}
.mui-toast-container {
    top: 41.5%;
    bottom: 0;
}
.mui-toast-container {
    bottom: -50px;
}
.mui-popup-button:last-child {
    border-radius: .133333rem;
    background: #fd2645;
    color: #fff;
    border: .016667rem solid #fd2645;
    box-sizing: border-box;
    font-size: .128rem;
}
.mui-popup-button:first-child {
    border: .016667rem solid #fd2645;
    border-radius: .133333rem;
    margin-right: .1rem;
    font-size: .128rem;
    color: #333;
}
.mui-popup-title,.mui-popup-inner:after,.mui-popup-button:after {
    display: none;
}
.mui-popup-title + .mui-popup-text {
    font-size: .1rem;
}
.mui-popup-buttons {
    background: #fff;
    padding: .1rem;
    box-sizing: content-box;
}
.mui-popup.mui-popup-in {
    padding-bottom: .1rem;
    background: #fff;
}
/* 账户管理的样式 */
.w_manage-cont {
    padding: .17rem 0 0 0;
    margin-top: .085rem;
    background: #fff;
    font-size: .128rem;
} 
.w_manage-logo {
    border-bottom: 1px solid #f4f4f4;
    padding: .1rem;
}
.w_manage-logo img {
    width: .7rem;
}
.w_mange-list{
    border-bottom: 1px solid #f4f4f4;
    height: .45rem;
    padding: 0 .1rem;
}
.w_mange-sp1 {
    line-height: .45rem;
    color: #333;
    float: left;
    width: 30%;
}
.w_mange-sp2 {
    color: #999;
    margin-left: 10px;
    float: left;
    line-height: .45rem;
}
.w_mange-foot {
    padding: 0 .1rem;
    margin-top: .8rem;
} 
.w_mange-foot button{
    line-height: .37rem;
    height: .37rem;
    font-size: .128rem;
    width: 100%;
    background: #fd2645;
    color: #fff;
}
.w_manage-spi {
    float: right;
    line-height: .6rem;
}
.w_manage-spanright {
    float: right;
}
.mui-dtpicker-title h5{
    display: none;
}
.mui-popover {
    display: block;
    width: 100%;
    font-size: 0.128rem;
    top: inherit !important;
    left: inherit!important;
    bottom: 0!important;
    text-align: center;
}
.w_mange-alist {
    width: 100%;
    border: 0;
    padding: 0;
    font-size: inherit;
}
.mui-btn-blue {
    background-color: #eee;
    color: #007aff;
    border: 0;
}
.mui-dtpicker-header button {
    font-size: 12px;
    padding: 5px 10px;
    border: 0;
    background-color: #eee;
}
/* 修改用户名样式*/
.w_user-button {
    padding: 0 .1rem;
    margin-top: .5rem;
}
.w_user-button button {
    color: #fff;
    background-color: #fd2645;
    text-align: center;
    line-height: .37rem;
    font-size: .128rem;
    width: 100%;
}
.w_user-input {
    border-top: 1px solid #f4f4f4;
    background: #fff;
} 
.w_user-div {
    padding: 0 .1rem;
}
.w_user-div input{
    background: #fff;
    text-align: inherit;
    padding: 0;
    margin: 0;
    font-size: .128rem;
    height: .37rem;
    float: left;
}
/* 更换手机号样式 */
.w_change-cont{
    background: #fff;
    font-size: .128rem;
    margin-top: 10px;
}
.w_input-list {
    padding: .17rem .1rem .17rem;
    background: #fff;
    box-sizing: border-box
}
.w_input-list input {
    background: #f5f5f5;
    outline: none;
    border: 0;
    height: .37rem;
    font-size: .1rem;
}
.w_input-list2 input{
    width: 70%;
}
.w_input-list2 button{
    width: 28%;
    background: #fd2645;
    color: #fff;
    height: .37rem;
    width: 28%;
}
.w_button-change{
    padding: 0 .1rem;
    font-size: .128rem;
    text-align: center;
    height: .37rem;
    box-sizing: border-box;
} 
.w_button-change button{
    width: 100%;
    height: 100%;
    border: 0;
    color: #fff;
    background: #d3d3d3;
}